{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "System": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "no-console": 0,
    "prefer-destructuring": 0,
    "no-new": 0,
    "arrow-parens": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "func-names": 0,
    "new-cap": [
      "error",
      {
        "newIsCapExceptionPattern": "^module"
      }
    ],
    "react/no-unescaped-entities": 0,
    "react/no-danger": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
