/**
 * Mixins
 *
 * These are top-level functions and re-usable styles that can be used
 *  in any partial
 */

/**
 * Clearfix
 *
 * Example usage:
 *   div {
 *     @mixin clearfix;
 *   }
 */
@define-mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
