@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_base";
@import "base/_typography";
@import "base/_sprite";
@import "modules/*";

/**
 * Example CSS used on Project Starter demo page
 */
body {
  margin: 2rem auto;
  max-width: 71.25rem;
  width: 90%;
}

.bolt-icon {
  position: relative;

  @media (min-width: 100em) {
    padding: 1px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--before {
    padding-left: 1rem;
  }

  &--before::before {
    @mixin icon--bolt;
    left: 0;
  }

  &--after {
    padding-right: 1.25rem;
  }

  &--after::after {
    @mixin icon--bolt;
    right: 0;
  }
}

.bolt-dom {
  display: inline-block;
}

.icon--tie {
  display: inline-block;
}
