@import "normalize.css";
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "base/typography";
@import "modules/*";

/**
 * Example CSS used on Project Starter demo page
 */
body {
  margin: 2rem auto;
  max-width: 71.25rem;
  width: 90%;
}