// ====================================================================
// Example Module
//
// A module should be something that can stand by itself regardless of
//  its container. You may have modules like _social-icons.styl,
//  _navigation.styl or _cta.styl
// ===================================================================
