.a-thing {

  color: red;

  margin: 1rem;

  @media (max-width: 100em) {
    padding: 1rem;
  }

  .a-nested-thing {

    padding: 1rem;

    .another-nested {
      margin: 1rem;
      box-shadow:
        0 1rem 1rem rgba(#fff, .2),
        0 1rem 1rem rgba(#fff, .2);
    }

    @media (min-width: 50em) {
      color: red;
      line-height: 1;
      transform: translate(1rem);
    }

  }

}

.another {
  padding: 100rem;
}
