@import "normalize.css";
@import "./base/css/Variables.css";
@import "./base/css/Mixins.css";
@import "./base/css/Base.css";
@import "./base/css/Typography.css";
@import "components/**";

/**
 * Example CSS used on Pura demo page
 */
body {
  margin: 2rem auto;
  max-width: 71.25rem;
  width: 90%;
}
